.app {
  width: 414px;
  height: 90vh;
  max-height: 800px;
  background: white;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.appHeader {
  background: #1e4fa3;
  height: 60px;
  color: white;
  padding: 0 16px;
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: 600;
  font-size: 16px;
}

.backBtn {
  width: 25px;
  height: 25px;
  border: none;
  background: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 25px;
    height: 25px;
  }
}

.headerTitle {
  line-height: 1;
}

.form {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex: 1;

  input,
  textarea {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-family: "Jost", sans-serif;
    font-size: 12px;
  }

  input {
    height: 36px;
    margin-top: 10px;
  }

  textarea {
    height: 80px;
    resize: none;
  }
}

.formActions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.primary {
  background: #1e4fa3;
  color: white;
  border: 1px solid #1e4fa3;
  border-radius: 5px;
  width: 110px;
  height: 40px;
  font-size: 14px;
  cursor: pointer;
}

.outline {
  background: white;
  border: 1px solid #1e4fa3;
  width: 110px;
  height: 40px;
  color: #1e4fa3;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

@media (max-width: 480px) {
  body {
    display: block;
    background: white;
  }

  .app {
    width: 100%;
    height: 100vh;
    max-height: none;
    border-radius: 0;
    box-shadow: none;
  }
}
