* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

#root {
  width: 100%;
  min-height: 500px;
  height: auto;
}

body {
  margin: 0;
  font-family: "Jost", system-ui, sans-serif;
  background: #f2f4f7;

  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 480px) {
  body {
    display: block;
    background: white;
  }

  #root {
    max-width: 100%;
    min-height: 100vh;
  }
}

